WebServiceInteractor/Web References/SKGeliosWebService/RustourService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iCra.Core.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iCra.Core.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WS_NS_Policy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Claim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Insureds" nillable="true" type="tns:ArrayOfWS_NS_Client" />
      <xs:element minOccurs="0" name="Insurer" nillable="true" type="tns:WS_NS_Client" />
      <xs:element minOccurs="0" name="InsurerIsInsured" type="xs:boolean" />
      <xs:element minOccurs="0" name="PayDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TourPriceUE" type="xs:decimal" />
      <xs:element minOccurs="0" name="TownFrom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WS_NS_Policy" nillable="true" type="tns:WS_NS_Policy" />
  <xs:complexType name="ArrayOfWS_NS_Client">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WS_NS_Client" nillable="true" type="tns:WS_NS_Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWS_NS_Client" nillable="true" type="tns:ArrayOfWS_NS_Client" />
  <xs:complexType name="WS_NS_Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Doc_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WS_NS_Client" nillable="true" type="tns:WS_NS_Client" />
  <xs:complexType name="WS_NS_Policy_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="InsuranceVariantNV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredPremiums" nillable="true" type="tns:ArrayOfWS_NS_Client_Result" />
      <xs:element minOccurs="0" name="PolicyBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumMR_UE" type="xs:decimal" />
      <xs:element minOccurs="0" name="PremiumNV_UE" type="xs:decimal" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="SumOneInsuredMR" type="xs:decimal" />
      <xs:element minOccurs="0" name="SumOneInsuredMR_UE" type="xs:decimal" />
      <xs:element minOccurs="0" name="SumOneInsuredNV" type="xs:decimal" />
      <xs:element minOccurs="0" name="SumOneInsuredNV_UE" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalPremium" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalPremiumUE" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WS_NS_Policy_Result" nillable="true" type="tns:WS_NS_Policy_Result" />
  <xs:complexType name="ArrayOfWS_NS_Client_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WS_NS_Client_Result" nillable="true" type="tns:WS_NS_Client_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWS_NS_Client_Result" nillable="true" type="tns:ArrayOfWS_NS_Client_Result" />
  <xs:complexType name="WS_NS_Client_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Premium" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WS_NS_Client_Result" nillable="true" type="tns:WS_NS_Client_Result" />
  <xs:complexType name="WS_NS_PolicyTo_Del">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeletedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WS_NS_PolicyTo_Del" nillable="true" type="tns:WS_NS_PolicyTo_Del" />
</xs:schema>